.blog {
  margin-bottom: 6rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p {
      font-size: 1.2rem;
    }
  }
  &__main {
    display: flex;
    justify-content: space-between;
    list-style: none;
    & li {
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 4rem 0;
      &:first-child {
        background-image: url(./assets/img/blogleft.png);
      }
      &:nth-child(2) {
        background-image: url(./assets/img/blogcenter.png);
        @include media-mobile {
          display: none;
        }
      }
      &:last-child {
        background-image: url(./assets/img/blogright.png);
      }
      @include media-mobile {
        width: 49%;
      }
      @include media-mobile {
        width: 95%;
      }
    }
    @include media-mobile {
      flex-direction: column;
      align-items: center;
    }
  }
  &__text {
    width: 88%;
    height: 12.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1.4rem;
    background: #fff;
    transform: translateY(9vw);

    & h3 {
      font-size: 1.4rem;
    }
    & p {
      font-size: 1.4rem;
      color: #121212;
      opacity: 0.8;
    }
    @include media-tablet {
      height: 21.1vw;
    }
    @include media-mobile {
      height: 24.5vw;
      transform: translateY(14vw);
    }
    @include media-finish {
      height: 41.5vw;
      transform: translateY(17vw);
    }
  }
}
