footer {
  padding: 5rem 0 0 0;
}

form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & input {
    width: 27vw;
    height: 3.2rem;
    margin-right: 1.2rem;
    background: #fff;
    opacity: 0.2;
    font-size: 1.4rem;
    // color: #fff;
    // &:focus {
    //   opacity: 0.6;
    //   color: #fff;
    // }
  }
  button {
    width: 11rem;
    height: 3.2rem;
    background: #121212;
    color: #ffffff;
    opacity: 0.9;
    border: 1px solid #ffffff;
  }
}

.footer-top {
  width: 100%;
  background: #121212;
  color: #fff;
  opacity: 0.8;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
  }
  &__left {
    display: flex;
    height: 100%;
    align-items: center;
    & i {
      min-width: 2.4rem;
      min-height: 2.4rem;
      background-position: center;
      background-size: auto;
    }
  }
  &__phone {
    background: url(./assets/img/phone.png) no-repeat;
  }
  &__map {
    background: url(./assets/img/map.png) no-repeat;
  }
  &__clock {
    background: url(./assets/img/clock.png) no-repeat;
  }
  &__item {
    font-size: 1.1rem;
    margin: 0 0.5rem;
    &__location {
      font-family: "Inter", "sans-serif";
      font-style: normal;
      font-weight: normal;
    }
  }
  &__social {
    height: 100%;
    display: flex;
    align-items: center;
    & ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    & li {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      justify-content: center;
      margin: 0 0.3rem;
      list-style: none;
      & a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #ffffff;
        background-position: center;
      }
    }
    &__facebook {
      background: url(./assets/img/facebook.png) no-repeat;
    }
    &__twitter {
      background: url(./assets/img/twitter.png) no-repeat;
    }
    &__instagram {
      background: url(./assets/img/instagram.png) no-repeat;
    }
    &__noname {
      background: url(./assets/img/noname.png) no-repeat;
    }
  }
}

.footer-nav {
  margin: 4rem 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    & ul {
      width: 25%;
      height: 14rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & li {
        display: flex;
        align-items: center;
        &:first-child {
          & a {
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
        & a {
          font-size: 1.2rem;
          color: #121212;
          opacity: 0.8;
          text-decoration: none;
        }
        & span {
          width: 1.3rem;
          height: 1.3rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
  &__map {
    background-image: url(./assets/img/footer-map.png);
  }
  &__phone {
    background-image: url(./assets/img/footer-phone.png);
  }
  &__clock {
    background-image: url(./assets/img/footer-clock.png);
  }
  &__email {
    background-image: url(./assets/img/footer-email.png);
  }
}

.footer-bottom {
  width: 100%;
  height: 2.4rem;
  color: #121212;
  padding: 0.8rem 0 0.8rem 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    display: flex;
    height: 100%;
    align-items: center;
    & i {
      min-width: 2.4rem;
      min-height: 2.4rem;
      background-position: center;
      background-size: auto;
    }
  }
  &__phone {
    background: url(./assets/img/phone.png) no-repeat;
  }
  &__map {
    background: url(./assets/img/map.png) no-repeat;
  }
  &__clock {
    background: url(./assets/img/clock.png) no-repeat;
  }
  &__item {
    font-size: 1.1rem;
    margin: 0 0.5rem;
    &__location {
      font-family: "Inter", "sans-serif";
      font-style: normal;
      font-weight: normal;
    }
  }
  &__social {
    height: 100%;
    display: flex;
    align-items: center;
    & ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    & li {
      width: 2.3rem;
      height: 2.3rem;
      display: flex;
      justify-content: center;
      margin: 0 0.3rem;
      list-style: none;
      & a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #ffffff;
        background-position: center;
      }
    }
    &__facebook {
      background: url(./assets/img/facebook.png) no-repeat;
    }
    &__twitter {
      background: url(./assets/img/twitter.png) no-repeat;
    }
    &__instagram {
      background: url(./assets/img/instagram.png) no-repeat;
    }
    &__noname {
      background: url(./assets/img/noname.png) no-repeat;
    }
  }
  &__payments {
    display: flex;
    & div {
      max-height: 1.6rem;
      margin: 0 0.6rem 0 0.6rem;
    }
  }
}
