.product {
  &__route {
    padding: 0.8rem 0 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      display: flex;
      & a {
        font-size: 1.1rem;
        opacity: 0.6;
      }
      & p {
        font-size: 1.1rem;
      }
    }
    &__share {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      & p {
        font-size: 1.1rem;
        line-height: 1px;
        margin-left: 0.9rem;
      }
    }
  }
  &__review {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    &__block {
      display: flex;
      align-items: center;
      & p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-left: 0.7rem;
        opacity: 0.6;
        & span {
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
    }
  }

  &__title {
    padding: 1rem 0 2.4rem 0;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: 50%;
      max-height: 45%;
      display: flex;
      justify-content: space-between;
      &__1 {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1.4rem;
        user-select: none;
      }
      &__2 {
        width: 80%;
        position: relative;
        user-select: none;
        &__slider {
          width: 80%;
          height: 8%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 45%;
          right: 0;
          padding: 0 1.6rem 0 1.6rem;
          z-index: 2;
          user-select: none;
        }
        &__arrow {
          width: 12%;
          height: 100%;
          background: #ffffff86;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          & img {
            width: auto;
            height: auto;
            transform: rotate(-90deg);
          }
          &.disable {
            opacity: 0.3;
          }
        }
      }
      &__foto {
        position: absolute;
        top: 0;
        width: 90%;
        height: 6%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      &__arrow {
        width: 45%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & img {
          width: 40%;
          height: 27%;
        }
        &.disable {
          opacity: 0.3;
        }
      }
      @include media-tablet {
        width: 70%;
      }
      @include media-mobile {
        width: 95%;
      }
    }
    &__description {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      & p {
        opacity: 0.6;
        font-size: 1.2rem;
        line-height: 18px;

        & span {
          font-size: 1.2rem;
          font-weight: 700;
          opacity: 1;
        }
      }
      &__flex {
        padding: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        & button {
          width: 15.6rem;
          height: 4.8rem;
          font-size: 1.3rem;
          background: #121212;
          border: 2px solid #121212;
          color: #ffffff;
          opacity: 0.9;
        }
        @include media-finish {
          justify-content: space-between;
        }
      }
      &__foto {
        margin-right: 1.6rem;
      }
      &__size {
        width: 4rem;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:nth-child(2) {
          border: 2px solid #121212;
        }
      }
      &__sizeguide {
        width: 2rem;
        height: 1.4rem;
        display: flex;
        margin-right: 0.8rem;
      }
      &__price {
        font-weight: bold;
        font-size: 2.2rem;
        margin-right: 2.4rem;
        @include media-finish {
          margin: 0 0;
        }
      }
      &__name {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1.6rem;
        & img {
          width: 1.8rem;
          height: 1.6rem;
        }
        @include media-finish {
          margin: 0 0;
        }
      }
      &__ship {
        display: flex;
        align-items: center;
        padding: 1rem 0 1rem 0;
        & img {
          width: 2.4rem;
          height: 2.4rem;
          margin: 0 0.6rem;
        }
        & p {
          margin-right: 0.9rem;
        }
      }
      &__guarant {
        display: flex;
        justify-content: space-between;
        & hr {
          flex: 1;
        }
        & p {
          width: 45%;
          display: flex;
          align-items: center;
          font-weight: 600;
          opacity: 1;
        }
      }
      &__payments {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0 1rem 0;
        & div {
          max-height: 2.1rem;
          margin: 0 0.6rem 0 0.6rem;
        }
      }
    }
    &__info {
      flex-direction: column;
      text-align: left;
      padding-left: 2rem;
      &__element {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      & p {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 1rem 0 1rem 0.5rem;
        opacity: 0.6;
      }
      & hr {
        height: 0.2rem;
        margin: 1.6rem 0;
      }
      & span {
        font-size: 14px;
        font-weight: 700;
      }
    }
    @include media-tablet {
      justify-content: center;
    }
  }
  &__related {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    user-select: none;
    &__arrows {
      display: flex;
      align-items: center;
      cursor: pointer;
      & img {
        width: 1.4rem;
        height: 0.7rem;
        transform: rotate(-90deg);
        margin: 0 1.2rem;        
      }
      & div {
        &.disable {
          opacity: 0.3;
        }
      }      
    }
  }
}

hr {
  width: 100%;
  height: 0.2rem;
  border: 1px solid #e6e6e6;
}
