.product {
  &__route {
    padding: 0.8rem 0 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name {
      display: flex;
      & a {
        font-size: 1.1rem;
        opacity: 0.6;
      }
      & p {
        font-size: 1.1rem;
      }
    }
    &__share {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      & p {
        font-size: 1.1rem;
        line-height: 1px;
      }
      & a {
        width: 2.5rem;
        height: 1.5rem;
        background-image: url(./assets/img/share.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
  &__review {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    &__block {
      display: flex;
      & p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        padding-left: 0.7rem;
        opacity: 0.6;
        & span {
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
    }
    &__star {
      width: 1.1rem;
      height: 1.1rem;
    }
  }

  &__title {
    padding: 1rem 0 2.4rem 0;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: 50%;
      display: flex;
      padding: 0 0 2vw 0;
      &__1 {
        width: 17%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1.4rem;
      }
      &__2 {
        width: 83%;
        position: relative;
        &__slider {
          width: 100%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 45%;
          padding: 0 1.6rem 0 1.6rem;
        }
        &__arrow {
          width: 4rem;
          height: 4rem;
          background: #ffffff;
          opacity: 0.6;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          & img {
            width: 40%;
            height: 20%;
            transform: rotate(-90deg);
          }
        }
      }
      &__foto {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__arrow {
        width: 50%;
        height: 2.7vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 40%;
          height: 20%;
        }
      }
    }
    &__description {
      padding-left: 3rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      & p {
        opacity: 0.6;
        font-size: 1.2rem;
        line-height: 18px;

        & span {
          font-size: 1.2rem;
          font-weight: 700;
          opacity: 1;
        }
      }
      &__flex {
        padding: 1.6rem 0 1.6rem 0;
        display: flex;
      }
      &__foto {
        margin-right: 1.6rem;
      }
      &__size {
        width: 4rem;
        height: 4rem;
        font-size: 1.2rem;
        font-weight: 600;
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:nth-child(2) {
          border: 2px solid #121212;
        }
      }
      &__sizeguide {
        width: 2rem;
        height: 1.4rem;
        display: flex;
        margin-right: 0.8rem;
      }
      &__price {
        border: 1px solid #121212;
        font-weight: bold;
        font-size: 2.2rem;
      }
      &__name {
        width: 20%;
        border: 1px solid #121212;
      }
    }
  }
}

hr {
  border: 1px solid #e6e6e6;
  margin: 2vw 0 2vw 0;
}
